<button onclick="brooklynOnly()">Show Only Brooklyn Markets</button>
<button onclick="allMarkets()">Show All Markets</button>
<h1 id="first">Jack</h1>
<h1 id="second">Spy</h1>
<h1 id="third">Me</h1>
<h1 id="fourth">3</h1>

<div id="market"></div>

<button onclick="changeColors()">Start!</button>

